@font-face {
    font-family: 'MeriendaOne';
    src:url('../assets/font/MeriendaOne-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding:0;
    border : border solid white;
}
body{
    background-image: url('../Assets/img/bg.jpg');
    width:100%;
    height:100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbarRow{
   background-color: rgba(0, 255, 217, 0.073) !important;
   margin-right: 0;

  
}
.icon-width{
    width:27px;
}
.list-skills{
    background-color:rgba(0, 229, 255, 0.1);
    color:white;
}
.fit{
    width:fit-content !important;
}
.text-custom{
  
    font-family: 'MeriendaOne';
    color:azure !important;
}


.opacidade{
    opacity:0.3;
}
.content{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

